Should we define a custom datetime?

I suspect most people are not dealing with datetimes and so having a dependency on `chrono` is extra bloat.

`toml-rs` takes an interesting approach to this problem and just made it public

Should we do similar?
- This would mean going back on `Value` having a variant per case.
- There is the non-sense case of only having an offset that would fail encoding

```rust
#[derive(PartialEq, Clone)]
pub struct Datetime {
    /// Optional date.
    /// Required for: *Offset Date-Time*, *Local Date-Time*, *Local Date*.
    pub date: Option<Date>,

    /// Optional time.
    /// Required for: *Offset Date-Time*, *Local Date-Time*, *Local Time*.
    pub time: Option<Time>,

    /// Optional offset.
    /// Required for: *Offset Date-Time*.
    pub offset: Option<Offset>,
}

#[derive(PartialEq, Clone)]
pub struct Date {
    /// Year: four digits
    pub year: u16,
    /// Month: 1 to 12
    pub month: u8,
    /// Day: 1 to {28, 29, 30, 31} (based on month/year)
    pub day: u8,
}

pub struct Time {
    /// Hour: 0 to 23
    pub hour: u8,
    /// Minute: 0 to 59
    pub minute: u8,
    /// Second: 0 to {58, 59, 60} (based on leap second rules)
    pub second: u8,
    /// Nanosecond: 0 to 999_999_999
    pub nanosecond: u32,
}

#[derive(PartialEq, Clone)]
pub enum Offset {
    /// > A suffix which, when applied to a time, denotes a UTC offset of 00:00;
    /// > often spoken "Zulu" from the ICAO phonetic alphabet representation of
    /// > the letter "Z". --- [RFC 3339 section 2]
    ///
    /// [RFC 3339 section 2]: https://datatracker.ietf.org/doc/html/rfc3339#section-2
    Z,

    /// Offset between local time and UTC
    Custom {
        /// Hours: -12 to +12
        hours: i8,

        /// Minutes: 0 to 59
        minutes: u8,
    },
}
```

> I suspect most people are not dealing with datetimes and so having a dependency on chrono is extra bloat.

yeah, I suspect that too. Creating a custom simple type for that if that would not complicate parsing (I think we're not relying much on `chrono` for parsing) that is similar to toml-rs is probably a good idea.

Does chrono do validation as well? E.g. it's possible to parse an invalid date like 30 of February now, but was it the case with chrono?

Created #188 